@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Betterworks";
    src: url("/fonts/Betterworks.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Sunydale";
    src: url("/fonts/Sunydale.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Romantically";
    src: url("/fonts/Romantically.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Quick";
    src: url("/fonts/Quick.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

.dancing-script-heading {
    font-family: "Romantically", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.sunydale {
    font-family: "Sunydale", sans-serif;
    font-weight: 300;
    font-style: normal;
}

p,
li,
h1,
h2,
h3,
h4,
h5,
h6,
label,
button {
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-weight: < weight >;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.active {
    border-bottom: 1px solid orange;
}
